## General Settings
#TZ=Asia/Karachi
#UID=1000
#GID=1000
DOMAIN=your-site.com
#HTTP_PORT=80
#HTTPS_PORT=443

## Gotenberg
#GOTENBERG_MEM_LIMIT=768m
#GOTENBERG_MEMSWAP_LIMIT=1g

## Tika
#TIKA_MEM_LIMIT=512m
#TIKA_MEMSWAP_LIMIT=768m

## Socket Proxy
#SOCKET_PROXY_MEM_LIMIT=32m
#SOCKET_PROXY_MEMSWAP_LIMIT=64m

## Traefik
# Generate via `docker run --rm httpd:2 htpasswd -nbB admin 'your-password'`
TRAEFIK_DASHBOARD_USERS='admin:your-bcrypt-hash'
#TRAEFIK_MEM_LIMIT=128m
#TRAEFIK_MEMSWAP_LIMIT=192m

## Postgres
#POSTGRES_PORT=5432
POSTGRES_PASSWORD=my-secret-password
#POSTGRES_USER=postgres
#POSTGRES_DB=postgres
#POSTGRES_MAX_CONNECTIONS=100
#POSTGRES_SHARED_BUFFERS=128MB
#POSTGRES_WORK_MEM=4MB
#POSTGRES_MAINTENANCE_WORK_MEM=64MB
#POSTGRES_EFFECTIVE_CACHE_SIZE=256MB
#POSTGRES_MEM_LIMIT=512m
#POSTGRES_MEMSWAP_LIMIT=768m

## Migrate
#MIGRATE_MEM_LIMIT=128m
#MIGRATE_MEMSWAP_LIMIT=192m

## Valkey
#VALKEY_PORT=6380
VALKEY_PASSWORD=myLargeAlphaNumericPassword
VALKEY_URL=redis://:${VALKEY_PASSWORD}@valkey:6380
#VALKEY_MEM_LIMIT=128m
#VALKEY_MEMSWAP_LIMIT=192m

## Paperless
PAPERLESS_SECRET_KEY=my-secret-key
#PAPERLESS_OCR_LANGUAGE=eng
#PAPERLESS_OCR_LANGUAGES=deu
PAPERLESS_APPS=allauth.socialaccount.providers.openid_connect
# Sync users
PAPERLESS_SOCIALACCOUNT_PROVIDERS={"openid_connect":{"OAUTH_PKCE_ENABLED":true,"APPS":[{"provider_id":"authentik","name":"authentik","client_id":"<Client ID from authentik>","secret":"<Client Secret from authentik>","settings":{"server_url":"http://authentik.company/application/o/<application_slug>/.well-known/openid-configuration","fetch_userinfo":true}}],"SCOPE":["openid","profile","email"]}}
# Sync users and groups
#PAPERLESS_SOCIALACCOUNT_PROVIDERS={"openid_connect":{"OAUTH_PKCE_ENABLED":true,"APPS":[{"provider_id":"authentik","name":"authentik","client_id":"<Client ID from authentik>","secret":"<Client Secret from authentik>","settings":{"server_url":"http://authentik.company/application/o/<application_slug>/.well-known/openid-configuration","fetch_userinfo":true}}],"SCOPE":["openid","profile","email", "groups"]}}
PAPERLESS_LOGOUT_REDIRECT_URL=http://authentik.company/application/o/<application_slug>/end-session/
# When set to true this bypasses extra sign-up prompts and auto-creates the account
PAPERLESS_SOCIAL_AUTO_SIGNUP=false
# When set to true this allows general sign-ups through social/OIDC providers
PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS=false
# When set to true disable the paperless-ngx username and password login form
PAPERLESS_DISABLE_REGULAR_LOGIN=false
PAPERLESS_REDIRECT_LOGIN_TO_SSO=false
# Define protocol used for generating urls, e.g. login callback urls
PAPERLESS_ACCOUNT_DEFAULT_HTTP_PROTOCOL=http
# Paperless group settings
#PAPERLESS_SOCIAL_ACCOUNT_SYNC_GROUPS=false
#PAPERLESS_SOCIAL_ACCOUNT_DEFAULT_GROUPS=
# Paperless resource caps
#PAPERLESS_TASK_WORKERS=1
#PAPERLESS_THREADS_PER_WORKER=1
#PAPERLESS_WEBSERVER_WORKERS=1
#PAPERLESS_OCR_MODE=auto
#PAPERLESS_OCR_CLEAN=none
#PAPERLESS_ENABLE_NLTK=false
#PAPERLESS_CONVERT_MEMORY_LIMIT=256MB

## Authentik
AUTHENTIK_SECRET_KEY=my-secret-key
#AUTHENTIK_ERROR_REPORTING__ENABLED=true
#AUTHENTIK_LOG_LEVEL=debug
# Server resource caps
#AUTHENTIK_WEB__WORKERS=1
#AUTHENTIK_WEB__THREADS=2
#AUTHENTIK_WEB__MEM_LIMIT=768m
#AUTHENTIK_WEB__MEMSWAP_LIMIT=1g
# Worker resource caps
#AUTHENTIK_WORKER__PROCESSES=1
#AUTHENTIK_WORKER__THREADS=2
#AUTHENTIK_WORKER__MEM_LIMIT=768m
#AUTHENTIK_WORKER__MEMSWAP_LIMIT=1g
