# Environment files
.env*
!.env.example

# Secrets
secrets/*.conf
!secrets/*.example.conf

# Paperless
stacks/paperless-ngx/data

# Authentik
stacks/sso/authentik/certs/*
!stacks/sso/authentik/certs/.gitkeep
