# Environment files
.env*
!.env.example

# Secrets
secrets/*.conf
!secrets/*.example.conf

# NGINX
config/nginx-proxy-manager/data/access
config/nginx-proxy-manager/data/custom_ssl
config/nginx-proxy-manager/data/letsencrypt-acme-challenge
config/nginx-proxy-manager/data/logs
config/nginx-proxy-manager/data/temp
config/nginx-proxy-manager/data/keys.json

config/nginx-proxy-manager/letsencrypt/*
!config/nginx-proxy-manager/letsencrypt/.gitkeep

# Paperless
paperless/consume/
paperless/export/
