# Environment files
.env*
!.env.example

# Secrets
secrets/*.conf
!secrets/*.example.conf

# Paperless
paperless/consume/
paperless/export/

# Authentik
config/authentik/certs/*
!config/authentik/certs/.gitkeep
